@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #fbeed3;
  text-shadow: none;
}

::selection {
  background: #fbeed3;
  text-shadow: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #fbeed3;
  color: #1a1a1a;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid gray;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
}

h1 {
  font-size: 55px;
  font-size: 5.5rem;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

h2,
h3,
h4,
h5 {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-size: 4.2rem;
}

h3 {
  font-size: 26px;
  font-size: 2.6rem;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

body {
  background: white;
  color: #1a1a1a;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
}

nav ul,
nav ol,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid gray;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

.layoutHeader {
  clear: both;
}

.layoutFooter {
  clear: both;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid gray;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.t_dev .layoutWrapper {
  *zoom: 1;
  max-width: 26em;
  _width: 26em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.t_dev .layoutWrapper:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 41em) {
  .t_dev .layoutWrapper {
    max-width: 41em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .t_dev .layoutWrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 55em) {
  .t_dev .layoutWrapper {
    max-width: 61em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .t_dev .layoutWrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 55em) {
  .t_dev .contentPanel {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .t_dev .contentPanel:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
.t_dev .navPrimary {
  *zoom: 1;
  max-width: 26em;
  _width: 26em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.t_dev .navPrimary:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 41em) {
  .t_dev .navPrimary {
    max-width: 41em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .t_dev .navPrimary:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 55em) {
  .t_dev .navPrimary {
    max-width: 61em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .t_dev .navPrimary:after {
    content: "";
    display: table;
    clear: both;
  }
}
.t_dev .navPrimary li {
  float: left;
  margin-right: 1em;
}
.t_dev .navPrimary a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
}
.t_dev .pageTitle {
  font-size: 130%;
}
.t_dev .ks_title {
  border-bottom: 2px solid #eee;
  font-size: 120%;
  font-weight: bold;
}

.t_kitchenSink .navSecondary {
  background: green;
}
@media (min-width: 41em) {
  .t_kitchenSink .navSecondary {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 55em) {
  .t_kitchenSink .navSecondary {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    position: fixed;
  }
}
.t_kitchenSink .contentMain {
  background: yellow;
}
@media (min-width: 41em) {
  .t_kitchenSink .contentMain {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 55em) {
  .t_kitchenSink .contentMain {
    width: 83.05085%;
    float: right;
    margin-right: 0;
  }
}

.FETO table {
  width: 100%;
}
.FETO th {
  background: #eee;
}
.FETO th,
.FETO td {
  border: 1px solid #ccc;
  font-size: 80%;
  padding: 0.25em 0.5em;
  text-align: left;
  vertical-align: top;
}
.FETO .notStarted {
  background: #ff0000;
}
.FETO .inProgress {
  background: #db96a8;
}
.FETO .complete {
  background: #81c272;
}
.FETO .thumbnail img {
  height: 75px;
  width: 75px;
}
