/**
 * @description    Creates the default styling for the body element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-03-13 11:56
 *
 *
 *     @example
 *                 <body>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        body
 */
body {
	background: $color-page-bg;
	color: $color-copy;
	@include default-font-stack;
	margin: 0;
}
