/**
 * @description    Creates the default styling for the body element
 *
 *      @author    {{AUTHOR NAME <AUTHOR.EMAIL@bss.org>}}
 *     @version    0.1
 *        @date    {{YYYY-MM-DD HH:MM}}
 *
 *
 *     @example
 *                 <body>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        body
 */
body {
	background: $color-page-bg;
	color: $color-copy;
	@include default-font-stack;
	margin: 0;
}
