/**
 * @description    Styling for the html element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-03-13 12:30
 *
 *
 *     @example
 *                 <html></html>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        html
 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-y: scroll;
}
