/**
 * @description    Styling for the html element
 *
 *      @author    {{AUTHOR NAME <AUTHOR.EMAIL@bss.org>}}
 *     @version    0.1
 *        @date    {{YYYY-MM-DD HH:MM}}
 *
 *
 *     @example
 *                 <html></html>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        html
 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	@include default-font-stack;
	font-size: 62.5%;
	overflow-y: scroll;
}
