/**
 * @description    Styling for the nav element
 *
 *      @author    {{AUTHOR NAME <AUTHOR.EMAIL@bss.org>}}
 *     @version    0.1
 *        @date    {{YYYY-MM-DD HH:MM}}
 *
 *
 *     @example
 *                 <nav></nav>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        nav
 */
nav {
	ul,
	ol,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
