@charset "UTF-8";

/**
 * @projectDescription    {{PROJECT DESCRIPTION}}
 *               @file    {{OUTPUT-FILE-NAME.css}}
 *             @author    {{AUTHOR NAME <AUTHOR.EMAIL@bss.org>}}
 *            @version    0.1
 *               @date    {{YYYY-MM-DD HH:MM}}
 */

// * NB. This is the master Sass file which imports all the partials.
// * No CSS should be written in this file.

/** @section     Compass */
// Compass - http://compass-style.org/install/
// $ sudo gem update --system
// $ sudo gem install compass
@import "compass/css3";

/** @section     Grid */
// Susy - http://susy.oddbird.net/guides/
// $ sudo gem install susy
@import "susy";
// Modular Scale - http://thesassway.com/projects/modular-scale
// $ sudo gem install modular-scale
@import 'modular-scale';

/** @section     Settings */
@import "partials/settings/susy";

/** @section     Variables */
@import "partials/variables/colour-palette";

/** @section     Mixins */
@import "partials/mixins/font-sizing";
@import "partials/mixins/font-stacks";
@import "partials/mixins/rgba-bg";

/** @section     Global */
@include border-box-sizing;
@import "partials/global/selection";
@import "partials/global/normalize";
@import "partials/global/typography";

/** @section     Elements */
@import "partials/elements/html";
@import "partials/elements/body";
@import "partials/elements/nav";
@import "partials/elements/a";
@import "partials/elements/hx";
@import "partials/elements/hr";
@import "partials/elements/em";
@import "partials/elements/strong";
@import "partials/elements/table";
@import "partials/elements/form";

/** @section     Layout */
@import "partials/default-layout/wrapper";
@import "partials/default-layout/header";
@import "partials/default-layout/main";
@import "partials/default-layout/footer";

/** @section     Navigation */
@import "partials/navigation/primary";

/** @section     Modules */
// @import "partials/modules/XXXX";

/** @section     Plugins */
// @import "partials/plugins/XXXX";

/** @section     Helpers */
// @import "partials/helpers/ir";
// @import "partials/helpers/hidden";
// @import "partials/helpers/visually-hidden";
// @import "partials/helpers/invisible";
// @import "partials/helpers/clearfix";
// @import "partials/helpers/XXXX";

/** @section     Print */
@import "partials/media/print";

/** @section     Development */
// @import "partials/development/debug";
@import "partials/development/dev-layout";
@import "partials/development/style-guide";
